 <div class="container">
    <div class="details">
        <app-title title="Register">

        </app-title>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <input-text
            [control]="fc.name"
            [showErrorWhen]="isSubmitted"
            label="Name"
            >
        </input-text>

          <input-text
            [control]="fc.email"
            [showErrorWhen]="isSubmitted"
            label="Email"
            type="email"
            >
        </input-text>

          <input-text
            [control]="fc.password"
            [showErrorWhen]="isSubmitted"
            label="Password"
            type="password"
            >
        </input-text>

          <input-text
            [control]="fc.confirmPassword"
            [showErrorWhen]="isSubmitted"
            label="Confirm Password"
            type="password"
            >
        </input-text>

          <input-text
            [control]="fc.address"
            [showErrorWhen]="isSubmitted"
            label="Adress"
            >
        </input-text>

        <default-button text="Register"></default-button>


        <div class ="login">
            Already a user ? &nbsp;
            <a routerLink="/login" [queryParams]="{returnUrl:returnUrl}">
                Login Here
            </a>

        </div>
        </form>

    </div>

 </div>